@import "foundation";

$scheme-red: #8e3b46;
$scheme-cream: #f6f5e0;
$scheme-white: #ffffff;
$scheme-light-blue: #798ce0;
$scheme-dark-blue: #333787;

$fugaz: 'Fugaz One', cursive;
$quicksand: 'Quicksand', sans-serif;
$bungie: 'Bungee Shade', cursive;
$monoton: 'Monoton', cursive;

.topnav {
  background-color: $scheme-dark-blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .menu {
    margin-top: 20px;
    padding: 5px;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border-style: solid;
      border-color: $scheme-red;
      border-width: thin;
      margin: auto;
    }

    a {
      font-size: 18px;
      text-align: center;
      padding: 10px 7px;
      font-family: $fugaz;
      color: $scheme-cream;
      margin: 50px 10px;
      border-radius: 10%;
      transition: all 0.2s ease 0s;

      &:hover {
        background-color: $scheme-cream;
        color: $scheme-dark-blue
      }
    }
  }

  .search {
    align-items: right;
    padding: 0;
    margin-top: 20px;

    .searchbutton {
      text-align: right;
      padding: 0;
      margin: 0;
    }

    .searchbar {
      text-align: right;
      margin: 20px 0;
      border-radius: 10%;
      input {
        border-style: solid;
        border-width: 2px;
        border-color: $scheme-red;
        background: linear-gradient(90deg, $scheme-white, $scheme-cream);
      }
      input[type=text] {
        margin: 0px;
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
      /* When the input field gets focus, change its width to 100% */
      input[type=text]:focus {
          width: 100%;
      }
    }

    .hollow {
      font-family: $quicksand;
      margin-top: 12px;
      color: $scheme-cream;
      background-color: $scheme-red;
      border-style: solid;
      border-width: thin;
      border-color: $scheme-cream;

      &:hover {
        color: $scheme-red;
        background-color: $scheme-cream;
        border-style: solid;
        border-width: thin;
        border-color: $scheme-red;
      }
    }
  }
}

.mainheader {
  width: 100%;
  margin: 0;
  padding: 0;
  background: image-url("skyline.jpg") no-repeat center;
  border-bottom-style: solid;
  border-size: 15px;
  border-color: $scheme-red;
  background-size: cover;

  h1 {
    text-align: center;
    font-family: $monoton;
    font-size: 75px;
    background-color: $scheme-red;
    color: $scheme-cream;
    margin: auto;
    margin-top: 300px;
    padding: 5px 5px;
    width: auto;
    border-color: $scheme-cream;
    border-width: 10px;
    border-style: double;
    border-bottom-color: $scheme-red;
  }
}

.blue {
  color: $scheme-light-blue;
}
